h2 Sample App
p (with Jade support)
div
    div.alert.alert-info( role="alert" )
        span.glyphicon.glyphicon-star( aria-hidden="true" )
        | Tap the button
    button( (click)="updateCounter()" ) TAP
    p {{ message }}
